<div id="add-member-modal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <h5>
        <span class="icon"><ion-icon name="person-add"></ion-ico></span>
          ユーザー招待
      </h5>
      <span class="modalClose" id="add-page-close-button"><ion-icon name="close-circle"></ion-icon
      ></span>
    </div>
    <form
      name="addMemberForm"
      class="modal-body"
      action="/group/{{ group.id }}/member/add"
      method="POST"
    >
      <input
        type="text"
        placeholder="メールアドレス"
        class="group-form-input"
        name="email"
        maxlength="255"
        autocomplete="off"
        required
      />
       {% with messages = get_flashed_messages() %} {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        </ul>
        {% endif %} {% endwith %}
      <button id="submit">招待</button>
    </form>
    
  </div>
</div>
