<div id="delete-group-modal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span class="icon"><ion-icon name="trash-outline"></ion-icon></span>
      <h5>グループ削除</h5>
      <span class="modalClose" id="delete-page-close-button">×</span>
    </div>
    <form name="deletegroupForm" id="deletegroupForm" class="modal-body" action="" method="POST">
      <p>削除ボタンを押すとグループが消えます</p>
      <p>本当によろしいですか？</p>
      <button id="delete-group-confirmation-button">削除</button>
    </form>
  </div>
</div>