{% extends 'auth/base.html' %} {% block title %}CookChat{% endblock %} {% block
body %}
<div class="content">
  <div class="auth-innerwrap">
    <div class="auth-logo-wrapper">
      <div class="logo">
        <img
          class="cookchat-logo"
          src="{{ url_for('static',filename='img/cookchat_logo.png') }}"
        />
      </div>
    </div>
    <form class="auth-form" method="post">
      <h2 class="signup-title">ログイン</h2>
      <div class="auth-input">
        <label for="email-input">メールアドレス</label><br />
        <input
          type="email"
          placeholder="メールアドレス入力"
          name="email"
          id="email-input"
          required
        />
      </div>
      <div class="auth-input">
        <label for="password-input">パスワード</label><br />
        <input
          type="password"
          placeholder="パスワード入力"
          name="password"
          id="password-input"
          required
        />
      </div>

      {% with messages = get_flashed_messages() %} {% if messages %}
      <ul class="flashes">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %} {% endwith %}

      <button class="login-button">ログイン</button>
    </form>

    <p class="login-link">
      <a class="switch-auth-mode" href="{{ url_for('signup_view') }}">
        新規登録
      </a>
    </p>
  </div>
</div>
{% endblock %}
