@charset "utf-8";
/* 上部になぜか出る余白を削除 */
* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #FFF8E7;
}

.auth-innerwrap {
    max-width: 500px;
    margin: 0 auto;
    padding: 0 8.5%;
    text-align: left;        
}

.login-header {
    background: url(../img/niz0024-003\ 1.png) top/ cover no-repeat,
                linear-gradient(to bottom,rgba(157,169,119,1) 0%,rgba(157,169,119,0) 50%);
    height: 250px;
}

.login-h1 {
    line-height: 250px;
    text-align: left;
    font-size: 24px;
    font-weight: 300;
}


.login-title {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #5D4037;
    margin: 39px auto;
}

.auth-input {
    margin-top: 24px;
}

.auth-input input {
    border:1px solid #9DA977;
    border-radius: 6px;
    display: inline-block;
    width: 100%;
    height: 46px;
    margin-top: 8px;
    font-size: 120%;
}

.auth-input input::placeholder {
    color:#B5A998;
    font-size: 16px;
    padding-left: 10px;
}

.login-button {
    width: 100%;
    height: 48px;
    background-color: #D87C58;
    color: #FCFCFD;
    border: none;
    border-radius: 24px;
    margin-top: 52px;
    font-size: 16px;
}

.login-link {
    text-align: center;
    margin-top: 52px;
}

.switch-auth-mode {
    text-decoration: none;
    color:#9DA977
}

/* これより上がlogin、下がsignup */
.signup-header {
    background: url(../img/niz0024-003\ 1.png) top/ cover no-repeat,
                linear-gradient(to bottom,rgba(157,169,119,1) 0%,rgba(157,169,119,0) 50%);
    height: 138px;
}

.signup-h1 {
    line-height: 138px;
    text-align: left;
    font-size: 24px;
    font-weight: 300;
}

.signup-title {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #5D4037;
    margin: 24px auto;
}

.signup-button {
    width: 100%;
    height: 48px;
    background-color: #D87C58;
    color: #FCFCFD;
    border: none;
    border-radius: 24px;
    margin-top: 52px;
    font-size: 16px;
}

.signup-link {
    text-align: center;
    margin-top: 42px;
}