@charset "utf-8";
.content {
  margin: 0;
  display: flex;
  align-items: center;
  height: 100vh;
}

.auth-innerwrap {
  max-width: 500px;
  margin: 0 auto;
  /* padding: 0 8.5%; */
  text-align: left;
}

.login-header {
  background: linear-gradient(
      to bottom,
      rgba(157, 169, 119, 1) 0%,
      rgba(157, 169, 119, 0) 50%
    ),
    url(../img/niz0024-003\ 1.png) center/ cover no-repeat;
  height: 250px;
}

.login-h1 {
  line-height: 250px;
  text-align: left;
  font-size: 24px;
  font-weight: 300;
}

.login-title {
  font-size: 24px;
  font-weight: 500;
  color: #5d4037;
  margin: 39px auto;
}

.auth-input {
  margin-top: 24px;
}

.auth-input input {
  border: 1px solid #9da977;
  border-radius: 6px;
  display: inline-block;
  width: calc(100% - 20px);
  height: 46px;
  margin-top: 8px;
  font-family: inherit;
  font-size: 0.95rem;
  padding: 0 10px;
}

.auth-input input::placeholder {
  color: #b5a998;
  font-size: 16px;
  /* padding-left: 10px; */
}

.login-button {
  width: 100%;
  height: 48px;
  background-color: #d87c58;
  color: #fcfcfd;
  border: none;
  border-radius: 12px;
  margin-top: 52px;
  font-family: inherit;
  font-size: 16px;
}

.login-button:hover {
  opacity: 0.7;
}

.login-link {
  text-align: center;
  margin-top: 52px;
}

.switch-auth-mode {
  text-decoration: none;
  color: #9da977;
}

/* これより上がlogin、下がsignup */
.signup-header {
  background: linear-gradient(
      to bottom,
      rgba(157, 169, 119, 1) 0%,
      rgba(157, 169, 119, 0) 50%
    ),
    url(../img/niz0024-003\ 1.png) center/ cover no-repeat;
  height: 138px;
}

.signup-h1 {
  line-height: 138px;
  text-align: left;
  font-size: 24px;
  font-weight: 300;
}

.signup-title {
  font-size: 24px;
  font-weight: 500;
  color: #5d4037;
  margin: 24px auto;
}

.signup-button {
  width: 100%;
  height: 48px;
  background-color: #d87c58;
  color: #fcfcfd;
  border: none;
  border-radius: 12px;
  margin-top: 52px;
  font-family: inherit;
  font-size: 16px;
}

.signup-button:hover {
  opacity: 0.7;
}

.signup-link {
  text-align: center;
  margin-top: 42px;
}

@media screen and (max-width:600px) {
  .auth-innerwrap {
    padding: 0 8.5%;
  }
  /* ここから縦幅が小さい画面の対策 */
  .auth-input {
    margin-top: 12px;
  }
  .signup-button {
    margin-top: 26px;
  }
  .signup-link {
    margin-top: 21px;
  }
  /* ここまで縦幅が小さい画面の対策 */
}