/* エラー画面全体を縦横中央に配置 */
.error-wrapper {
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f8fc;
    padding: 0px;
    box-sizing: border-box;
}

/* コンテンツの整列 */
.error-content {
    text-align: center;
    max-width: 500px;
    width: 100%;
}

/* エラーの！　*/
.error-content {
    font-size: 50px
}

/* エラーメッセージ */
.error-description p {
    font-size: 1.5rem;
    margin: 20px 0;
}

/* ボタンスタイル */
.error-button button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border: ;
    border-radius: 15px;
    background-color: #f4f0f1; /* pink */
    color: #0c0c0c;
    transition: background-color .3s;
}

.error-button button:hover {
    background-color: #f4f0f1;
}

/* エラー画像 */
.error-gif {
    width: 100%;
}

/* 小さい画面向けの調整 */
@media (max-width: 480px) {
    .error-description p {
        font-size: 1.2rem;
    }
    
    .error-button button {
        font-size: 0.9rem;
        padding: 8px 16px;
    }
    
    .error-gif {
        max-width: 100%;
    }
}

