/* エラー画面全体を縦横中央に配置 */
.error-wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 8%;
    text-align: left;
    background-color: #f8f8fc;
    box-sizing: border-box
}

/* コンテンツの整列 */
.error-content {
    text-align: center;
    width: 100%;
}

/* エラーの！　*/
.alert-icon {
    font-size: 50px;
    margin: 0 auto 10px auto;
}

/* エラーメッセージ */
.error-description p {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
}

/* エラー画像 */
.error-gif {
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
}

/* ボタンスタイル */
.error-button button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 15px;
    background-color: #f4f0f1; /* pink */
    color: #0c0c0c;
    border: none;
    margin-top: 20px;
    transition: background-color .3s;
}

.error-button button:hover {
    background-color: #f4f0f1;
}

/* 小さい画面向けの調整 */
@media (max-width: 480px) {
    .error-description p {
        font-size: 1.2rem;
    }
    
    .error-button button {
        font-size: 0.9rem;
        padding: 8px 16px;
    }
    
    .error-gif {
        max-width: 100%;
    }
}

