/* エラー画面全体を縦横中央に配置 */
.error-wrapper {
    height: 100vh; /* 画面全体の高さ */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f8fc;
    padding: 20px;
    box-sizing: border-box;
}

/* コンテンツの整列 */
.error-content {
    max-width: 500px;
    width: 100%;
}

.error-content {
    font-size: 50px
}

/* エラーメッセージ */
.error-description p {
    font-size: 1.5rem;
}

/* ボタンスタイル */
.error-button button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointerter;
    border: ;
    border-radius: 15px;
    background-color: #f4f0f1;
    color: #0c0c0c;
    transition: background-color .3s
}

.error-button button:hover {
    background-color: #f4f0f1;
}

/* エラー画像 */
.error-gif {
    width: 100%;
}

/* 小さい画面向けの調整 */
@media (max-width: 480px) {
    .error-description p {
        font-size: 1.2rem;
    }
    
    .error-button button {
        font-size: 0.9rem;
        padding: 8px 16px;
    }
    
    .error-gif {
        max-width: 100%;
    }
}
