body {
  margin: 0;
}
.main-container {
  size: 375px 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 10px 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}
/* header .logo {
  padding: 16px 16px;
} */
header .icon {
  font-size: 32px;
  color: #f0e6dd;
}
.logout-icon {
  list-style: none;
}
/* 外枠：グループ名とゴミ箱を横並びにする */
.group-item-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}
/* グループ全体のコンテナ */
.group-box {
  display: flex;
  flex-direction: column;
  max-height: 400px;
  overflow-y: auto;
  height: max-content; /* スクロールできる高さを確保（適宜調整） */
  padding: 20px 0;
  /*width: 367px; /* ここからゴミ箱があってもY軸の配置がずれないよう追加 */
  margin: 0 auto;
  padding: 20px 20px 20px 20px; /* ここまで */
}

/* グループ名のボックス */
.group-item {
  background-color: #fff8ed;
  color: #5d4037;
  border-radius: 10px;
  padding: 12px;
  width: 295px; /* ゴミ箱があってもY軸の配置がずれないよう追加360から変更 */
  height: 40px;
  display: flex;
  align-items: center;
  list-style: none;
  gap: 12px;
}

.ownershipType {
  border-radius: 5px;
  background-color: #f4a261;
  padding: 0 10px;
  color: white;
  font-size: 10px;
}
/* グループ名リンク */
.group-item a {
  color: #5d4037;
  text-decoration: none;
  flex: 1;
  font-size: 16px;
}

/* ゴミ箱ボタン（右に少し離して置く） */
.delete-button {
  background: none;
  border: none;
  cursor: pointer;
  /*margin-left: 16px; /* グループ枠との距離 */
  transform: translateY(2px); /* ほんの少し下にずらして揃えやすく */
  font-size: 32px;
  color: #d87c58;
}
#create-group-button {
  display: block;
  margin: 40px auto 20px; /* 上40px・下20pxの余白で中央寄せ */
  font-size: 48px;
  color: #d87c58;
  cursor: pointer;
  text-align: center;
  transition: 0.3s ease;
}
