.main-container {
  size: 375px 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 10px 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}
/* header .logo {
  padding: 16px 16px;
} */
/* 外枠：グループ名とゴミ箱を横並びにする */
.group-item-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

#groups-list {
  padding: 0 15px;
  /* overflow-y: auto; */
}
/* グループ全体のコンテナ */
.group-box {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  overflow-y: auto;
  /* height: max-content;  */
  padding: 20px 0;
  /*width: 367px; /* ここからゴミ箱があってもY軸の配置がずれないよう追加 */
  margin: 0 auto;
  padding: 20px 20px 20px 20px; /* ここまで */
}

/* グループ名のボックス */
.group-item {
  background-color: #fff8ed;
  color: #5d4037;
  border-radius: 10px;
  padding: 12px;
  width: 295px; /* ゴミ箱があってもY軸の配置がずれないよう追加360から変更 */
  height: 40px;
  display: flex;
  align-items: center;
  list-style: none;
  gap: 12px;
}

.group-item:hover {
  transition: 0.3s ease;
  transform: scale(1.02);
}

.ownershipType {
  border-radius: 5px;
  background-color: #f4a261;
  padding: 0 10px;
  color: white;
  font-size: 10px;
}
/* グループ名リンク */
.group-item a {
  color: #4a3b32;
  text-decoration: none;
  flex: 1;
  font-size: 16px;
  /* z-index: 1; */
  cursor: pointer;
}

/* ゴミ箱ボタン（右に少し離して置く） */
.delete-button {
  background: none;
  border: none;
  cursor: pointer;
  /*margin-left: 16px; /* グループ枠との距離 */
  transform: translateY(2px); /* ほんの少し下にずらして揃えやすく */
  font-size: 32px;
  color: #8488a4;
  transition: 0.3s ease;
}

.delete-button:hover {
  transform: scale(1.1);
}

.add-group {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  gap: 20px;
  background-color: #d87c58;
  border-radius: 20px 20px 0 0;
}

#create-group-button {
  display: block;
  margin: 10px auto;
  font-size: 48px;
  cursor: pointer;
  text-align: center;
  gap: 20px;
  background: #d87c58;
  border: none;
  color: #ffffff;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: rgba(255, 255, 255, 0.7) 0 0 10px;
}

#create-group-button:hover {
  transition: 0.3s ease;
  transform: scale(1.1);
}
