.input-modal-content {
  background: #fff;
  border-radius: 20px;
  width: 90%; /* スマホでは幅広め */
  max-width: 350px; /* PCでは幅を制限 */
  padding: 24px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
  animation: fadeIn 0.3s ease;
  position: relative;
}
.input-h5 {
  /* border-bottom: solid 1px black; */
  margin: 20px auto 0;
}
.input-zone {
  min-height: 100px;
  max-height: 200px;
  width: 100%;
  overflow-y: auto;
}

.input-header {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0;
  left: 0;
  color: #8c7b70;
  background-color: white;
  margin-bottom: 5px;
  font-size: 14px;
}
.input-area {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  gap: 5px;
}
.ingre {
  width: 50%;
  padding: 5px;
  /* text-align: center; */
  box-sizing: border-box;
  font-family: inherit;
}
.quant {
  padding: 5px;
  width: 25%;
  /* text-align: center; */
  box-sizing: border-box;
  font-family: inherit;
}

.unit {
  padding: 5px;
  width: 15%;
  /* text-align: center; */
  box-sizing: border-box;
  font-family: inherit;
}

.del_btn {
  width: 30px;
  height: 30px;
  background: #eee;
  border: none;
  border-radius: 50%;
  color: #666;
  cursor: pointer;
}

.del_btn:hover {
  opacity: 0.4;
}
.ion-icon {
  text-align: center;
  margin-top: 10px;
}
.add-btn {
  border: none;
  background-color: #ffffff;
}
#add-input-button {
  font-size: 24px;
  color: #d87c58;
}
#add-input-button:hover {
  transition: 0.3s ease;
  transform: scale(1.1);
}
#serving-count {
  padding: 5px;
  width: 100%;
  height: 30px;
  font-family: inherit;
  box-sizing: border-box;
}
#candidate-count {
  padding: 5px;
  width: 100%;
  height: 30px;
  font-family: inherit;
  box-sizing: border-box;
}
.request {
  margin: 30px 0 10px;
}
.request h5 {
  margin-bottom: 5px;
  color: #4a3b32;
}
#request-area {
  font-family: inherit;
  padding: 5px;
  margin-top: 5px;
  width: 100%;
  height: 110px;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #ddd;
}
.input-submit {
  text-align: center;
  padding: 20px;
}
.input-submit button {
  font-family: inherit;
  border: none;
  color: #ffffff;
  background-color: #d87c58;
  border-radius: 12px;
  padding: 10.5px 15px;
  width: 200px;
}

.input-submit button:hover {
  opacity: 0.7;
}
