/* 全体のリセット */
* {
  margin: 0;
  padding: 0;
}

/* チャットヘッダー */
.chat-header-box {
  background-color: #c9b3b7;
  /* padding: 20px; */
}

.chat-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* color: #5d4037;
  background-color: #fcfcfc4a; */
  border: none;
  border-radius: 10px;
}

#logo_img {
  height: 24px;
}

#chat-header-left {
  width: 120px;
  padding: 14px 18px;
}

#chat-header-left button {
  background: none;
  border: none;
  color: #ffffff;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.3s;
}

#group-name {
  margin-left: 20px;
  color: white;
}

#chat-header-right {
  display: flex;
  padding: 14px 18px;
  text-align: center;
  width: 120px;
  gap: 20px;
}

#group-update-button,
#member-add-button,
#member-view-button {
  display: flex;
  gap: 20px;
  background: none;
  border: none;
  color: #ffffff;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.3s;
}

#group-name {
  font-weight: 600;
  font-size: 0.95rem;
  margin: 0 8px;
}

.chat-header button:hover {
  opacity: 0.7;
}

/* メッセージエリア */
#message-area {
  padding: 0 15px;
  height: calc(100vh - 276px);
  overflow-y: auto;
}

.box {
  display: inline-block;
  padding: 10px;
  border-radius: 8px;
  max-width: 70%;
  word-wrap: break-word;
}

.box-left {
  background-color: #fff;
  white-space: pre-wrap;
  margin-right: 3px;
}

.box-right {
  background-color: #cc937a;
  color: white;
  white-space: pre-wrap;
  margin-left: 3px;
}

.my-messages {
  margin-bottom: 25px;
}

.my-message-top {
  text-align: end;
}

.my-message-top form {
  position: relative;
}

.my-message-content {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  margin-right: 12px;
}

.my-sendTime {
  font-size: 0.6rem;
  color: #626264;
  margin-top: 5px;
  text-align: end;
}

.my-message-bottom {
  text-align: end;
  margin-top: 3px;
  margin-right: 20px;
}

.other-messages {
  margin-bottom: 25px;
}

.other-sendTime {
  font-size: 0.6rem;
  color: #626264;
  margin-top: 5px;
  text-align: start;
}

.other-message-content {
  display: flex;
  justify-content: flex-start;
  align-items: end;
}

.other-message-bottom {
  margin-top: 3px;
  margin-left: 8px;
}

.user-name {
  color: #626264;
  font-size: 11px;
  margin-left: 8px;
}

/* メッセージ操作ボタン */
.reaction-message-button {
  background: white;
  border: none;
  cursor: pointer;
  font-size: 0.8rem;
  margin-right: 10px;
  color: #122543;
  border-radius: 20px;
  padding: 3px;
  opacity: 0.3;
}
.delete-message-button {
  border: none;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  color: #5d4037;
  font-size: 1.2rem;
  padding: 4px 5px 0px;
  position: absolute;
  right: 0;
  top: -12px;
}

.delete-message-button:hover ion-icon {
  color: #d9534f;
}
.reaction2 {
  display: flex;
  margin-right: 15px;
  align-items: flex-end;
}

/* 入力欄 */

.typing-box-wrapper {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  gap: 20px;
}

.typing-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #ffffff;
  border-radius: 30px;
  padding: 3px 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.typing-box textarea {
  width: 100%;
  border: none;
  resize: none;
  background: none;
  font-size: 0.9rem;
  font-family: inherit;
  padding: 10px;
  outline: none;
  color: #5d4037;
  height: 30px;
}

#add-message-button {
  display: flex;
  background: none;
  border: none;
  color: #9da977;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.3s;
}

#add-message-button:hover {
  transform: scale(1.1);
}
#create-menu {
  display: flex;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
  color: #5d4037;
  font-size: 1.5rem;
  border-radius: 50%;
  background-color: white;
  padding: 10px;
}
