/* 全体のリセット */
* {
  margin: 0;
  padding: 0;
}


/* チャットヘッダー */

.chat-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 18px;
  color: #5d4037;
  background: none;
  border: none;
}


#group-name {
  font-weight: 600;
  font-size: 0.95rem;
  margin: 0 8px;
}

.chat-header button {
  background: none;
  border: none;
  color: #5D4037;
  font-size: 1.5rem;
  cursor: pointer;
  margin-left: 6px;
  transition: 0.3s;
}

.chat-header button:hover {
  opacity: 0.7;
}



/* メッセージエリア */
.message-top{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.message-bottom{
  display: flex;
  justify-content: flex-end;
}
.message-bottom2{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
#message-area {
  padding: 15px;
  height: 69.4vh;
  overflow-y: auto;
}

.messages, .my-messages {
  margin-bottom: 20px;
}

.user-name {
  color: #626264;
  font-size: 12px;
}

.box {
  display: inline-block;
  padding: 10px;
  border-radius: 8px;
  max-width: 70%;
  word-wrap: break-word;
}

.box-left {
  background-color: #fff;
}

.box-right {
  background-color: #D87C58;
  color: #fff;
  float: right;
}

.sendTime {
  font-size: 0.8rem;
  color: #626264;
  margin-top: 5px;
}

.reactions {
  color: #444;
  margin-top: 5px;
}

/* メッセージ操作ボタン */
.reaction-message-button {
  background: none;
  cursor: pointer;
  font-size: 1.1rem;
  margin-right: 10px;
  color: #122543;
  border-radius: 20px;
  border-color: #9DA977;
  padding: 3px;
}
.delete-message-button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1.5rem;
  margin-right: 9px;
  color: #122543;
}

.delete-message-button:hover ion-icon {
  color: #d9534f;
}
.reaction2{
  display: flex;
  margin-right: 15px;
  align-items: flex-end;

}

/* 入力欄 */

.typing-box-wrapper {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f6e2b3;
  padding: 8px 0 10px;
}

.typing-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
  margin: 0 25px;
  background-color: #fff8ed;
  border-radius: 15px;
  padding: 3px 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.typing-box textarea {
  width: 100%;
  border: none;
  resize: none;
  background: none;
  font-size: 0.9rem;
  font-family: inherit;
  padding: 6px;
  outline: none;
  color: #5d4037;
}

#add-message-button {
  display: flex;
  background: none;
  border: none;
  color: #9DA977;
  font-size: 2rem;
  cursor: pointer;
  transition: 0.3s;
}

#add-message-button:hover {
  transform: scale(1.1);
}
#create-menu{
  font-size: 3.5rem;
  color: #D87C58;
  cursor: pointer;
  transition: 0.3s ease;
  padding-right:20px;
}
#create-menu img {
  width: 40px;
  height: auto; 
}
