{% extends 'error/base.html' %} {% block title %} error {% endblock %} {% block
body %}
<div class="error-wrapper">
  <div class="error-content">
    <div class="error-description">
      <ion-icon name="alert-circle"></ion-icon>
      <p><strong>ページにアクセスできませんでした</strong></p>
      <img
      src="{{ url_for('static', filename='img/404.png.png') }}"
      alt="Error Image"
      class="error-gif"
      />
      <a class="error-button pink" href="{{ url_for('home_view') }}">
        <button>ホームへ戻る</button>
      </a>
    </div>
  </div>
</div>
{% endblock %} {% block script %} {% endblock %}