<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="../static/img/favicon.ico" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='gen/bundled.css') }}"
    />
  </head>
  <header>

  <div class="main-container">
    <div class="logo">
      <img
        id="logo_img"
        src="{{ url_for('static',filename='img/cookchat_logo.png') }}"
        alt="cookchat"
      />
    </div>
    <li class="logout-icon">
      <a href="{{ url_for('logout_process') }}">
        <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
      </a>
    </li>
  </div>

</header>
  {% block body %} {% endblock %}
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</html>
